[submodule "ext/chimera"]
	path = ext/chimera
	url = https://github.com/SnowyMouse/chimera/tree/master
[submodule "ext/halo-ce-patches"]
	path = ext/halo-ce-patches
	url = https://github.com/pR0Ps/halo-ce-patches/tree/master
[submodule "ext/xidi"]
	path = ext/xidi
	url = https://github.com/samuelgr/Xidi/tree/master
